name: Unit test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        pandoc: ["3.1.8"]
        include:
            # prior structure of macOs files
          - os: macos-latest
            pandoc: "3.0"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - name: set pandoc version
        run:
      - name: setup-pandoc
        uses: ./
        with:
          pandoc-version: ${{ matrix.pandoc }}
      - name: Validate version
        run: node test/test-version-number.js ${{ matrix.pandoc }}
      - name: Test outputs
        run: node test/test-outputs.js